* {
    user-select: none !important;
    font-family: cursive !important;
    font-weight: 900 !important;
    font-size: 4mm;
}

#sudoku-grid-container {
    margin: 0 0 0 3cm;
    border-radius: 2mm;
    box-shadow: 0 0 10cm 3cm rgb(0, 0, 0);
}

td {
    border: 1mm solid rgb(0, 0, 0);
    border-radius: 2mm;
    padding: 0 2mm 0 2mm;
    color: rgb(122, 122, 122);
}

.firstRowBttn {
    margin: 0 0 0 15mm;
    color: rgb(244, 244, 244);
}

.secondRowBttn {
    margin: 0 0 0 3cm;
    color: rgb(244, 244, 244);
}

#solve-bttn {
    visibility: hidden;
}